.composition {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
note {
  display: inline-block;
  padding: 0.2rem;
  font-weight: bold;
}
pitch {
  font-size: 1.5rem;
}
octave[data-octave="-1"],
octave[data-octave="-2"],
octave[data-octave="-3"] {
  display: block;
  font-size: 1.2rem;
  position: relative;
  top: 4px;
}
octave[data-octave="1"],
octave[data-octave="2"],
octave[data-octave="3"] {
  display: block;
  font-size: 1.2rem;
  position: relative;
  bottom: 4px;
}